{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint-config-prettier",
    "prettier"
  ],
  "plugins": ["react"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "curly": ["error"],
    "max-depth": ["warn", 4],
    "id-length": ["warn", { "exceptions": ["i", "j"], "min": 2 }],
    "import/extensions": [
      "error",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "default-case": "off",
    "no-shadow": "off",
    "array-callback-return": "off",
    "consistent-return": "off",
    "react/no-children-prop": "off",
    "no-unused-expressions": "off",
    "no-else-return": "off",
    "no-case-declarations": "off",
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off",
    "default-param-last": "off",
    "react/prop-types": "off",
    "no-param-reassign": "off",
    "no-lonely-if": ["error"],
    "no-plusplus": ["error", {"allowForLoopAfterthoughts": true}],
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off",
    "jsx-a11y/href-no-hash": ["off"],
    "jsx-a11y/anchor-is-valid": ["off"],
    "jsx-a11y/label-has-associated-control": [ "error", {
      "assert": "either"
    }],
    "react/state-in-constructor": ["off"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/jsx-props-no-spreading": ["off"],
    "react/static-property-placement": "off",
    "react/function-component-definition": [1, {
      "namedComponents": "arrow-function",
      "unnamedComponents": "function-expression"
    }]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}