.article {
    margin-top: 25px;
    padding: 15px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.article__head {
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 85px;
}

.article__inner {
    display: flex;
    align-items: center;
}

.article__title {
    margin: 0 13px 0 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #1890FF;
}

.article__like-counter {
    display: flex;
    align-items: center;
}

.article__like-btn {
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: none;
}

.article__like-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
}

.author {
    display: flex;
    align-items: center;
}

.author__name, .author__article-date {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.85);

}

.author__article-date {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.author__avatar-wrapper {
    margin-left: 12px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
}

.author__avatar {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.article__tag-list {
    min-height: 31px;
}

.article__tag {
    margin: 4px 5px 4px 0;
    padding: 3px 6px;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.article__text {
    margin: 0;
    min-height: 45px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
}

.manage-buttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.manage-buttons__button {
    padding: 6px 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    background-color: transparent;
    border-radius: 5px;
}

.manage-buttons__button_delete {
    color: #f5222d;
    border: 1px solid #f5222d;
}

.manage-buttons__button_edit {
    color: #52c41a;
    border: 1px solid #52c41a;
    text-decoration: none;
}

.content {
    margin-top: 25px;
    color: rgba(0, 0, 0, 0.75);
}

.content__title {
    margin: 0 0 7px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

}

.content__text h1{
    margin: 0.67em 0 ;
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 2em;
    line-height: normal;
}

.content__text h2 {
    margin: 0.83em 0 ;
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    line-height: normal;
}

.content__text h3 {
    margin: 1em 0 ;
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.17em;
    line-height: normal;
}

.content__text h4 {
    margin: 1.33em 0 ;
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: normal;
}

.content__text p {
    margin: 1em 0;
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
}

.content__text ul {
    margin: 1em 0;
    padding: 0 0 0 15px;
    display: block;
    list-style-type: disc;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
}

.content__text ol {
    margin: 1em 0;
    padding: 0 0 0 15px;
    display: block;
    list-style-type: decimal;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
}

.wrapper {
    position: absolute;
    top: 5px;
    left: 85px;
    width: max-content;
}

.popup {
    padding: 12px 16px;
    position: relative;
    background-color: #ffffff;
    border-radius: 4px;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.15));
}

.popup::before {
    content:'';
    position: absolute;
    left: -2px;
    top: 6px;
    z-index: -1;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #fff;
}

.popup__content {
    margin-bottom: 12px;
    display: flex;
    align-items: center
}

.popup__text {
    margin-left: 8px;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}

.popup__btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.popup__button {
    margin-left: 8px;
    padding: 1px 8px;
    font-size: 14px;
    line-height: 22px;
    border: none;  
    border-radius: 4px;
}

.decline {
    color: #595959;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
}

.accept {
    color: #ffffff;
    background-color: #1890ff;
}