* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EBEEF3;
}

.container {
    margin: 0 auto;
    width: 938px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.button {
    cursor: pointer;
}

.link {
    text-decoration: none;
}